{% extends 'base.html' %} {% load static %} {% load filters %} {% block 'title'%}Lista de Feriados e Liberações{% endblock %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'css/full-style.css' %}" />
<!-- Estilo do Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<style>
  label.form-label {
    color: #012970 !important;
  }
  th.ocultar,
  td.ocultar {
    display: none;
  }
  .table-dot tbody {
    display: block; /* Permite que o tbody seja rolável */
    max-height: 10em; /* Define a altura máxima */
    overflow-y: auto; /* Permite a rolagem vertical quando necessário */
  }

  .table-dot thead,
  .table-dot tbody tr {
    display: table; /* Faz com que o thead e tr se comportem como uma tabela */
    width: 100%; /* Faz com que o thead e tr ocupem a largura total da tabela */
    table-layout: fixed; /* Garante que as células da tabela sejam de largura igual */
  }

  /* Estilo personalizado para os elementos <td> */
  .table-dot td {
    color: #012970; /* Cor de texto azul escuro */
    font-size: 0.8em; /* Tamanho de fonte menor */
    padding: 5px; /* Espaçamento interno, ajuste conforme necessário */
  }

  .modal-custom {
    max-width: 50%; /* Ou o valor que você quiser */
  }

  /* Faz com que a primeira célula do cabeçalho seja mais larga */
  .dobro-primeira-coluna th:first-child {
      width: 40%!important;
  }

  /* Define a largura das outras células do cabeçalho */
  .dobro-primeira-coluna th:not(:first-child) {
      width: 20%!important;
  }

    /* Faz com que a primeira coluna seja mais larga */
  .dobro-primeira-coluna th:first-child, 
  .dobro-primeira-coluna td:first-child {
      width: 40%;  /* Ajuste esse valor conforme desejar */
  }

  /*Define a largura das outras colunas */
  .dobro-primeira-coluna th:not(:first-child), 
  .dobro-primeira-coluna td:not(:first-child) {
      width: 20%;  /* Ajuste esse valor conforme desejar */
  }
  .ocultar {
    display: none!important; 
  }


</style>

{% endblock %}{% block 'content' %}
<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="header mt-3" onclick="toggleContent()">
        <h5 class="card-title">
          LISTA DE FERIADOS E LIBERAÇÕES
      <span>| Selecione o feriado ou liberação desejada</span>
        </h5>
        <i class="arrow"></i> <!-- A seta será criada com CSS -->
    </div>
        <div class="content" id="content">
        <div class="row mt-2">
        <div class="col-md-3 d-flex flex-row justify-content-center align-items-center">
          <div class="card">
            <div class="d-flex flex-column justify-content-center align-items-center p-3">
              <select
                class="form-select"
                aria-label="Default select"
                id="anoferlib"
                name="anoferlib">
                <option selected disabled>Selecione o ano</option>
                {% for ano in anos %}
                <option value="{{ano}}">{{ano}}</option>
                {% endfor %}
              </select>
              <button class="btn btn-secondary mt-4" onclick="filtrar()" type="button">Filtrar</button>
            </div>
          </div>
        </div>
        <div class="col-md-9 mt-0">
          <div class="card">
            <div class="card-body mt-2">
              <div class="row" id="all_months_ferlib">
                <div class="col-12 w-100">
                  <button class="btn btn-secondary btn-sm w-25 fw-bold mb-2" onclick="marcarTodos()">
                    Marcar Todos
                  </button>
                  <button class="btn btn-warning btn-sm w-25 fw-bold mb-2" onclick="desmarcaTodos()">
                    Desmarca Todos
                  </button>
                </div>
                {% for mes in meses %}
                <div class="col-md-3" id="checkmeses_month_{{mes}}">
                  <input type="checkbox" name="month_{{mes}}" id="month_{{mes}}">
                  <label for="month_{{mes}}" class="form-label me-2">{{mes|mestexto}}</label>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row align-items-top">
        <div class="col-xxl-12 col-md-12">
          <div class="card">
            <div class="card-body">
              <!-- Tabela de Militares -->
              <table id="main-table_indisp" class="table table-striped table-sm table-dot">
                <thead>
                    <tr>
                        <th scope="col" class="rot-info rot-sm">Nome</th>
                        <th scope="col" class="rot-info rot-sm">Classe</th>
                        <th scope="col" class="rot-info rot-sm">Data</th>
                        <th scope="col" class="rot-info rot-sm">Hora Inicial</th>
                        <th scope="col" class="rot-info rot-sm">Hora Final</th>
                        <th scope="col" class="rot-info rot-sm">Info</th>
                        <th scope="col" class="rot-info rot-sm"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for fl in feriadolib %}
                    <tr>
                        <td class="rot-info rot-sm">{{fl.nome}}</td>
                        <td class="rot-info rot-sm">{{fl.classe|capfirst}}</td>
                        <td class="rot-info rot-sm">{{fl.data|formatdate}}</td>
                        <td class="rot-info rot-sm">{{fl.horainicial|formattime}}</td>
                        <td class="rot-info rot-sm">{{fl.horafinal|formattime}}</td>
                        <td class="rot-info rot-sm" data-bs-info="{{fl.descricao|formatinfo}}">
                          <i class="bi bi-info-circle" data-info></i>
                      </td>
                        <td>
                          <!-- Botão para apagar um registro-->
                          <button 
                          type="button"
                          class="btn btn-danger btn-sm" 
                          data-bs-toggle="modal" 
                          data-bs-target="#modalDeleteFerlib" 
                          data-bs-idferlib="{{fl.id}}"
                          >
                          <i class="ri-delete-bin-6-line"></i></button>                   
                          
                        </td>             
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </div>


  <!-- Modal Delete Indisp Inicio -->
  <div class="modal fade" id="modalDeleteFerlib" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="modaltitleFerlib" class="modal-title fw-bold text-danger">Excluir Feriado/Liberação </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body m-0 p-0">
          <form id="formDelFerlib" data-action="{% url 'delete_ferlib' 0 %}" method="POST">
            {% csrf_token %}
            <h5 class="card-title m-0 text-center"> Realmente deseja apagar permanentemente o Feriado/Liberação?</h5>
            <hr>
            <div class="d-flex justify-content-center align-items-center m-2">
              <button type="submit" class="btn btn-danger mx-3">Excluir</button>
              <button
              type="button"
              class="btn btn-secondary mx-3"
              data-bs-dismiss="modal"
              >
              Cancelar
            </button>
            </div>
        </form>
        </div>

      </div>
    </div>
  </div>
  <!-- Modal Delete Fim -->

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  function desmarcaTodos(){
    // Seleciona todos os checkboxes dentro da div com id="all_months"
    const checkboxes = document.querySelectorAll('#all_months_ferlib input[type="checkbox"]');
  
    // Marca cada checkbox
    checkboxes.forEach(checkbox => {
        checkbox.checked = false;
    });
  }
  
  function filtrar() {
    // 1. Capturar o valor do ano
    const ano = document.getElementById('anoferlib').value;
  
    // 2. Capturar os meses dos checkboxes marcados
    const mesesSelecionados = [];
    const checkboxes = document.querySelectorAll('#all_months_ferlib input[type="checkbox"]');
    
    checkboxes.forEach(checkbox => {
      if (checkbox.checked) {
        // Extrair o número do mês do ID
        const mes = checkbox.id.split('_')[1];
        mesesSelecionados.push(mes);
        console.log(`mesesSelecionados: ${mesesSelecionados}`)
      }
    });
    function replaceLeadingZero(str) {
      return str.replace(/^0([0-9])$/, '$1');
  }
  
    // 3. Analisar a tabela
    
    const rows = document.querySelectorAll('#main-table_indisp > tbody > tr');
    
    rows.forEach(row => {
      const data = row.cells[2].innerText.split('/');
  
      const mesInit = replaceLeadingZero(data[1])
      const anoInit = data[2];
  
      console.log(`mesInit: ${mesInit}, anoInit: ${anoInit}`);
      console.log(`anoInit == ano => ${anoInit == ano} mesesSelecionados.includes(mesInit)) => ${mesesSelecionados.includes(mesInit)}`);
  
      // Verificar se as datas estão dentro dos meses e anos selecionados
      if (
        (anoInit == ano && mesesSelecionados.includes(mesInit))
      ) {
        row.style.display = '';  // Mostrar a linha
      } else {
        row.style.display = 'none';  // Esconder a linha
      }
    });
  }
  function marcarTodos() {
    // Seleciona todos os checkboxes dentro da div com id="all_months"
    const checkboxes = document.querySelectorAll('#all_months_ferlib input[type="checkbox"]');
  
    // Marca cada checkbox
    checkboxes.forEach(checkbox => {
        checkbox.checked = true;
    });
  }
  const modalDeleteFerlib = document.getElementById('modalDeleteFerlib')
  if(modalDeleteFerlib){
    modalDeleteFerlib.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      const button = event.relatedTarget
      // Extraindo de data-bs-* o conteudo
      const idferlib = button.getAttribute('data-bs-idferlib')
      const formDelFerlib = document.querySelector('#formDelFerlib')
      let url = formDelFerlib.getAttribute("data-action");
      url = url.replace('0',idferlib)
      formDelFerlib.setAttribute("action", url);
  })
  }
// Seleciona todos os elementos com a classe datepicker e a classe date
const datepickersDate = document.querySelectorAll('.datepicker.date');

// Seleciona todos os elementos com a classe timepicker
const timepickers = document.querySelectorAll('.timepicker');


// Inicializa os datepickers de date com o formato de data desejado
datepickersDate.forEach(function(input) {
    flatpickr(input, {
        locale: 'pt',
        enableTime: false,
        dateFormat: "d/m/Y",
    });
});


// Inicializa os timepickers com o formato de hora desejado
timepickers.forEach(function(input) {
    flatpickr(input, {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true, // para formato de 24 horas
    });
});

  document.addEventListener("DOMContentLoaded", function() {
    const icons = document.querySelectorAll('[data-info]');

    icons.forEach(icon => {
        icon.addEventListener('mouseover', function(event) {
            const info = icon.parentElement.getAttribute('data-bs-info');
            const tooltip = document.createElement('div');

            tooltip.className = 'custom-tooltip';
            tooltip.textContent = info;

            tooltip.style.position = 'absolute';
            tooltip.style.backgroundColor = '#333';
            tooltip.style.color = '#fff';
            tooltip.style.padding = '5px 10px';
            tooltip.style.borderRadius = '4px';
            tooltip.style.maxWidth = '250px';
            tooltip.style.zIndex = '1000';

            // Posiciona o tooltip abaixo e à esquerda do cursor
            tooltip.style.top = (event.clientY + 5) + 'px';  // +5 para um pequeno espaçamento abaixo do cursor
            tooltip.style.left = event.clientX + 'px';

            document.body.appendChild(tooltip);

            icon.addEventListener('mouseout', function() {
                document.body.removeChild(tooltip);
            });
        });
    });

    marcarTodos();
    ano_full = new Date().getFullYear();
    document.querySelector('#ano').value = ano_full;
    filtrar()

});

const modalDeleteIndisp = document.getElementById('modalDeleteIndisp')
if(modalDeleteIndisp){
  modalDeleteIndisp.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    const button = event.relatedTarget
    // Extraindo de data-bs-* o conteudo
    const iddisp = button.getAttribute('data-bs-iddisp')
    const formDelIndisp = document.querySelector('#formDelIndisp')
    let url = formDelIndisp.getAttribute("data-action");
    url = url.replace('0',iddisp)
    formDelIndisp.setAttribute("action", url);
})
}

</script>
{% endblock %}